<!DOCTYPE html>
<html lang="en">
<head>    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
</head>
<body>
    <nav>
        <h4>Database</h4>
            <a href="/">Add</a> 
            <a href="/retrieve">Retrieve</a>
            <a href="/delete">Delete</a>
    </nav>

<div class="container mt-4">
        <div class="card" style="width: 18rem;">            
            <div class="card-header">Delete question:</div>    
            <div class="card-body">
                <form action="/auth/delete" method="POST">
                    <div class="mb-3">
                        <label for="question-reg" class="form-label">ID</label>
                        <input type="number" class="form-control" id="question-reg" name="id">                        
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>