<!DOCTYPE html>
<html lang="en">
<head>    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
</head>
<body>
    <nav>
        <h4>Database</h4>
            <a href="/">Add</a> 
            <a href="/retrieve">Retrieve</a>
            <a href="/delete">Delete</a>
    </nav>

    <h2>Operation ok</h2>
</body>
</html>